apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: first-pool
  namespace: metallb-system
spec:
  addresses:
  - 192.168.68.30-192.168.68.40
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: broadcast-all
  namespace: metallb-system
spec:
  ipAddressPools:
  - first-pool
  interfaces:
  - enp0s31f6   # Intel Laptops
  - eno1        # Ryzen Mini PCs/NUCs
