apiVersion: v1
kind: ConfigMap
metadata:
  name: cloudflared-config
  namespace: cloudflared
data:
  config.yaml: |
    ingress:
      - hostname: grafana.nostramo.cloud
        service: http://traefik.traefik.svc.cluster.local:80
      - service: http_status:404
