sources:
  - ingress
provider:
  name: cloudflare
env:
  - name: CF_API_TOKEN
    valueFrom:
      secretKeyRef:
        name: cloudflare-api-key
        key: apiKey
domainFilters:
  - nostramo.cloud
txtOwnerId: nostramo-lab-01
policy: sync
