apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: longhorn-config
  annotations:
    argocd.argoproj.io/sync-wave: "4"
  namespace: argocd
spec:
  project: default
  source:
    repoURL: "https://github.com/Kyleg142/nostramo-lab.git"
    path: infrastructure/longhorn
  destination:
    server: https://kubernetes.default.svc
    namespace: longhorn-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
