apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  project: default
  source:
    repoURL: https://traefik.github.io/charts
    chart: traefik
    targetRevision: 38.*
    helm:
      values: |
        deployment:
          kind: DaemonSet
        service:
          enabled: true
          type: LoadBalancer
          spec:
            loadBalancerIP: 192.168.68.30
            externalTrafficPolicy: Local
        providers:
          kubernetesIngress:
            enabled: true
            publishedService:
              enabled: true
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
